@import "../../../../styles.scss";

header {
  width: 100%;
}

/* cabeçalho */

.menu-container {
  width: 100%;
}

.menu-container .menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  // top: 0;
  background-color:rgb(15 58 64);
  @include padding-grid(0, 60px, 0, 60px);
  z-index:1;
}

.menu-container .menu .main-menu a:hover {
  color: #c2f300;
  font-weight: bold;
  text-decoration: underline;
}

.menu-container .menu .main-menu nav ul li {
  display: inline-block;
  align-items: baseline;
  padding-left: 15px;

}

.menu-container a {
  color: #b6d540;
}

// .menu-container .menu .login-button {
//   border-radius: 20px;
//   height: 35px;
//   width: 120px;
//   text-align: center;
// }

// .menu-container.menu .login-button:hover {
//   border: solid 2px #eba4a9;
//   color: #000000;
//   cursor: pointer;
//   font-weight: bold;
// }
