<header>
  <section class="menu-container">
    <div class="menu">
      <div class="icon-name">
        <a href="./">
          <img
            src="assets/name.png"
            width="200"
            alt="icon-menu"
          />
        </a>
      </div>
      <div class="main-menu">
        <nav>
          <ul>
            <li><a [routerLink]="['']">Characters</a></li>
            <li><a [routerLink]="['episode']">Episode</a></li>
            <li><a [routerLink]="['location']">Location</a></li>
          </ul>
        </nav>
      </div>
      <!-- <button [routerLink]="['login']" class="login-button">
        <p><a>Login</a></p>
      </button> -->
    </div>
  </section>
</header>
