.card {
  width: 80%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: "Open Sans", sans-serif;

}

.cursor{
  cursor: pointer;
}

@media (max-width: 425px) {
  .card {
    font-size: 0.9rem;
  }
}
