<header>
  <section class="menu-container">
    <div class="menu">
      <div class="icon-name">
        <a href="./">
          <img
            src="assets/name.png"
            width="200"
            alt="icon-menu"
          />
        </a>
      </div>
      <div class="main-menu">
        <nav>
          <ul>
            <li><a [routerLink]="['character']">Characters</a></li>
            <li><a [routerLink]="['episode']">Episode</a></li>
            <li><a [routerLink]="['location']">Location</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>
