@import "../../../../styles.scss";

footer {
  width: 100%;
  background-color: rgb(15 58 64);
  color: #b6d540;
  @include padding-grid(0, 60px, 0, 60px);
}

footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .p-footer {
  text-align: center;
  padding: 40px 0px 40px 15px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 425px) {
  footer {
    @include padding-grid(0, 40px, 0, 40px);
  }

  footer .p-footer {
    padding: 20px 0px 20px 5px;
    font-size: 0.9rem;
  }
}
