<main>
  <section class="search-section">
    <app-search></app-search>
  </section>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    (scrolledUp)="onScrollUp()"
  >
    <section class="body-section">
      <app-card
        *ngFor="let item of results"
        [results]="item"
        routerLink="/details/{{item.id}}"
        [state]="{ id: item.id }">
      ></app-card>
    </section>
  </div>
</main>
