section {
  padding-top: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  width: 40%;
}

::-webkit-input-placeholder {
  color:#b6d540;
}

.btn-green-1 {
  background-color: #407772;
  border: #407772;
}

.btn-green-1:focus{
  border: 0 none;
  outline: 0;
  background-color: #407772;
  box-shadow:none !important;
}

.btn-green {
  background-color: #407772;
  border: #407772;
}

.btn-green:focus{
  border: 0 none;
  outline: 0;
  background-color: #407772d1;
  box-shadow:none !important;
}

.btn-green:hover{
  border: 0 none;
  box-shadow:none !important;
  background-color: #407772d1;

}

