<section class="header-section">
  <app-header></app-header>
</section>

<main>
  <section class="search-section">
    <app-search></app-search>
  </section>

  <section class="body-section" *ngIf="character?.results">
    <app-card *ngFor="let item of character.results" [results]="item"></app-card>
  </section>
</main>

<section>
  <app-footer></app-footer>
</section>

<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
    ></div>
