<main>
  <app-header></app-header>

  <section>
    <div class="input-group mb-3">
      <input type="text" class="form-control btn-green" placeholder="Look for a characteristic" aria-label="Look for a characteristic" aria-describedby="basic-addon2">
      <button class="btn btn-success btn-green-1 shadow-none" type="button"><i class="fa-solid fa-magnifying-glass" style="color: #b6d540;"></i></button>
    </div>
  </section>

  <section>
    <app-card></app-card>
  </section>



  <app-footer></app-footer>

</main>


