main{
  display: 100%;
}

.search-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 80px;
  z-index: 1;
  background-color: #fff;
}

.body-section {
  width: 100%;

}

