@import 'bootstrap/scss/bootstrap';

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
}

body {
  font-family: "Open Sans", serif;
}


@mixin padding-grid($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

